/* Generali */
body {
font-family: 'Roboto', sans-serif;
}

h1 {
  margin-left: 40px;
}

li {
  list-style-type: none;
}
/* fine generali */


.fizzbuzz {
  color: darkorange;
}

.fizz {
  color: red;
}

.buzz {
  color: yellowgreen;
}
